{{define "_aside"}}
<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/home"
                        aria-expanded="false">
                        <i class="fas fa-utensils" aria-hidden="true"></i>
                        <span class="hide-menu">Restaurante</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/home/user"
                        aria-expanded="false">
                        <i class="fas fa-user" aria-hidden="true"></i>
                        <span class="hide-menu">Usuário</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/home/product"
                        aria-expanded="false">
                        <i class="fas fa-beer" aria-hidden="true"></i>
                        <span class="hide-menu">Produto</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/home/kitchen"
                        aria-expanded="false">
                        <i class="fas fa-utensil-spoon" aria-hidden="true"></i>
                        <span class="hide-menu">Cozinha</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/home/waiter"
                        aria-expanded="false">
                        <i class="fas fa-male" aria-hidden="true"></i>
                        <span class="hide-menu">Garçom</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/home/report"
                        aria-expanded="false">
                        <i class="fas fa-clipboard" aria-hidden="true"></i>
                        <span class="hide-menu">Relatório</span>
                    </a>
                </li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
{{end}}