{{define "TabsIframe"}}
<!DOCTYPE html>
<html lang="en">

<body>
  <script type="text/javascript">
    var tabs = [];

    $(document).ready(function () {
      initTabsMap();
    });

    function initTabsMap() {
      const tabsd = document.querySelectorAll('div[name="tab"]');
      tabsd.forEach((tabDiv) => {
        const a = tabDiv.querySelector('a#tabValue');
        const value = a.getAttribute('value');
        const data = JSON.parse(value);
        tabs.push(data);
      });
      console.log('aqui', tabs)
    }
  </script>

  <div id="box_msg2" class="alert alert-danger" style="display:none">
  </div>
  <div class="row justify-content-left" id="tabs">
    {{range $index, $tab :=.Tabs}}
    <div name="tab" class="col-lg-3 col-md-12">
      <a id="tabnumber" value="{{$tab.Number}}T"> </a>
      <a id="tabValue" type="hidden" value="{{$tab.Json}}"></a>
      <div class="white-box analytics-info">
        <button type="button" class="btn2 bg-transparent border-0" data-bs-toggle="modal" onclick="openTabModal()"
          data-bs-target="#al-info-alert">
          <h3 class="box-title">Comanda: {{$tab.Number}}</h3>
          <ul class="list-inline two-part d-flex align-items-center mb-0">
            <li>
              <div>
                <i class="fas fa-3x fa-users" aria-hidden="true"></i>
              </div>
            </li>
            <li class="ms-auto"><span class="counter text-dark">R$ {{$tab.PayValue}}</span>
            </li>
          </ul>
        </button>
        <br>
        <ul class="list-inline two-part d-flex align-items-center mb-0">
          <button class="btn btn-primary" id="editButton" data-bs-toggle="modal" data-bs-target="#edit-modal"
            onclick="showProductInfo()">
            Editar
          </button>

          <!-- Button with trash icon -->
          <button class="btn btn-danger" id="deleteButton" onclick="deleteTab()">
            Deletar
          </button>
        </ul>
      </div>
    </div>
    {{end}}
    <div class="col-lg-3 col-md-12">
      <div class="white-box analytics-info">
        <button type="button" class="btn2 bg-transparent border-0" data-bs-toggle="modal"
          data-bs-target="#signup-modal1">
          <h3 class="box-title">Adicionar Comanda</h3>
          <ul class="list-inline two-part d-flex align-items-center mb-0">
            <li>
              <div>
                <i class="fas fa-3x fa-plus" aria-hidden="true"></i>
              </div>
            </li>
          </ul>
      </div>
      </button>
    </div>
  </div>
  <!-- modal de cadastro -->
  <div id="signup-modal1" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div id="box_msg1" class="alert alert-danger" style="display:none">
    </div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Registrar Comanda</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="ps-3 pe-3 text-start" action="#">
            <div class="mb-3">
              <label for="username">Número da mesa:</label>
              <input class="form-control" type="text" id="table" placeholder="Mesa 1">
            </div>
            <div class="row">
              <div class="col-md-6">
                <select class="custom-select" data-live-search="true" id="mySelect">
                  {{range $index, $list :=.ProductsList}}
                  {{range $index2, $product :=$list.Products}}
                  <option value="{{$product.Name}}">{{$product.Name}}</option>
                  {{end}}
                  {{end}}
                </select>
            </div>
              <div class="col-md-6 d-flex justify-content-end">
                <button id="butaoadd" class="btn btn-primary" onclick="addItem()">Adicionar Item</button>
              </div>
            </div>

            <div id="myList"></div>

            <div class="mb-6 text-center mt-3">
              <button class="btn btn-primary" onclick="makeTabRequest()">Registrar Comanda</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal de edição de comanda -->
  <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Editar Comanda</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="username">Número da Mesa: </label>
            <input class="form-control" type="text" id="table" placeholder="Mesa 1">
            <label for="emailaddress">Número da Comanda:</label>
            <input class="form-control" type="text" id="numberc" disabled>
          </div>
          <div class="row">
            <div class="col-md-6">
              <select class="custom-select" id="mySelect2">
                {{range $index, $list :=.ProductsList}}
                {{range $index2, $product :=$list.Products}}
                <option value="{{$product.Name}}">{{$product.Name}}</option>
                {{end}}
                {{end}}
              </select>
          </div>
            <div class="col-md-6 d-flex justify-content-end">
              <button id="butaoadd" class="btn btn-primary" onclick="addItem2()">Adicionar Item</button>
            </div>
          </div>

          <div id="myList2"></div>

          <div class="mb-3 text-center">
            <button class="btn btn-primary" onclick="updateTabNumber()">Editar Comanda</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- modal das comandas -->
  <div class="modal fade" id="al-info-alert" tabindex="-1" aria-labelledby="vertical-center-modal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content modal-filled bg-light-info">
        <div class="modal-header modal-colored-header bg-primary text-white">
          <h5 class="modal-title" id="primary-header-modalLabel">Informações da comanda</h4>
        </div>
        <div class="modal-body p-4">
          <i data-feather="info" class="fill-white feather-lg"></i>
          <div class="mb-3">
          </div>
          <div class="mb-3">
            <label id="mesacodigo">Test</label>
          </div>
          <button id="fecha" onclick="removeLabels()" type="button" class="btn btn-primary"
            data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
  <!-- Favicon icon -->
  <!-- Custom CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/templates/plugins/bower_components/chartist/dist/chartist.min.css">
  <link rel="stylesheet"
    href="/templates/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
  <link rel="stylesheet" href="/templates/css/style.min.css">
  <link rel="stylesheet" href="/templates/css/newstyle.css">
  <link rel="stylesheet" href="/templates/css/icons/font-awesome/css/fontawesome-all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <link href="/templates/css/tabs.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <script src="/templates/js/tabs.js"> </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script>$('select').selectpicker();</script>
  <script src="/templates/plugins/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="/templates/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/templates/js/app-style-switcher.js"></script>
  <script src="/templates/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
  <!--Wave Effects -->
  <script src="/templates/js/waves.js"></script>
  <!--Menu sidebar -->
  <script src="/templates/js/sidebarmenu.js"></script>
  <!--Custom JavaScript -->
  <script src="/templates/js/custom.js"></script>
  <!--This page JavaScript -->
  <!--chartis chart-->
  <script src="/templates/plugins/bower_components/chartist/dist/chartist.min.js"></script>
  <script
    src="/templates/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
  <script src="/templates/js/pages/dashboards/dashboard1.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
</body>
</html>
{{end}}
